.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #E7E7E7;
    font-family: Inter;
    line-height: 1.125em;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 20px;
    font-size: 14px;
    color: #1F1F1F;
    font-weight: 500;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
    border-radius: 16px;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: 36px;
    align-items: center;
}

.react-calendar__navigation button {
    width: 44px;
    color: #111;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.176px;
    background: none;
}


.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #F0F0F0;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.084px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
}
.react-calendar__month-view__days {
  justify-content: space-between;
    
}
.react-calendar__month-view__days__day {
    flex-basis: auto !important;
    border-radius: 20px;
}

.react-calendar__month-view__days__day--weekend {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.084px;
    color: #1F1F1F;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
    color: #D6D6D6;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 0; /*old value : 2em 0.5em*/
}
.react-calendar__navigation__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px !important;
    height: 24px;
    border-radius: 12px;;
}

.react-calendar__tile {
    height: 40px;
    width: 40px !important;
    background: none;
    text-align: center;
    font: inherit;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
    color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #F0F0F0;
}

.react-calendar__tile--now {
    background: #F2FE67
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
}

.react-calendar__tile--hasActive {
    background: #111111; /*76baff*/
    color: #FFFFFF;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #111111; /*old value: #a9d4ff*/
}

.react-calendar__tile--active {
    background: #111;
    color: white;
    border-radius: 999px;
    height: 40px;
    width: 40px !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #111111; /*old value: 1087ff*/
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #F0F0F0;
}
.react-calendar__month-view__weekdays__weekday  {
    text-decoration: none !important;
}
.react-calendar__month-view__weekdays__weekday--weekend {
    text-decoration: none;
}
abbr:where([title]) {
    text-decoration: none !important;
    color:#3D3D3D;
}
.react-calendar__navigation__label__labelText {
    color: #111;
    font-size: 16px;
    font-weight: 500 !important;
    line-height: 24px;
    letter-spacing: -0.176px;
}
.react-calendar__year-view__months__month {
    padding: 0 !important;
}