@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Inter";
    src: local("Inter"), url("./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Aeonik Pro";
    src: local("Aeonik Pro"), url("./assets/fonts/AeonikPro-Bold/AeonikPro-Bold.otf") format("truetype");
}


.k-title-span {
    font-feature-settings: 'ss11' on, 'cv09' on, 'liga' off, 'calt' off;
    font-family: "Aeonik Pro";
}

.k-span {
    font-feature-settings: 'ss11' on, 'cv09' on, 'liga' off, 'calt' off;
    font-family: "Inter";
}

.k-span-hover {
    display: none;
}

.k-span-hover-div:hover .k-span-hover {
    display: inline;
}


.k-input-container {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.k-input {
    color: #111;
    font-feature-settings: 'ss11' on, 'cv09' on, 'liga' off, 'calt' off;
    /* Paragraph/Small */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.084px;
}

.k-input::placeholder {
    color: #737373;
}

.k-input:focus {
    outline: none !important;
}

.k-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}


.k-dropdown-container {
    display: flex;
}

.k-dropdown {
    width: 100%;
    font-family: Inter;
}

.k-dropdown:focus {
    outline: none !important;
}

.k-slider-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 16px;
    overflow: hidden;
}

.k-slider-input::-webkit-slider-runnable-track {
    height: 14px;
    background: #E7E7E7;
    border-radius: 20px;
}

.k-slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    margin-top: -2px; /* Align the thumb vertically with the track */
    width: 18px; /* Width of the thumb */
    height: 18px; /* Height of the thumb */
    border-radius: 50px;
    box-shadow: -407px 0 0 400px #111111, 0 0 1px 1px rgba(228, 229, 231, 1), 0 1px 3px 0 rgba(228, 229, 231, 0.40);
    background-color: white !important;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><g id="dots, grid, slide"><path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M4 5C4.55228 5 5 4.55228 5 4C5 3.44772 4.55228 3 4 3C3.44772 3 3 3.44772 3 4C3 4.55228 3.44772 5 4 5ZM4 9C4.55228 9 5 8.55229 5 8C5 7.44772 4.55228 7 4 7C3.44772 7 3 7.44772 3 8C3 8.55229 3.44772 9 4 9ZM9 8C9 8.55229 8.55229 9 8 9C7.44772 9 7 8.55229 7 8C7 7.44772 7.44772 7 8 7C8.55229 7 9 7.44772 9 8ZM8 5C8.55229 5 9 4.55228 9 4C9 3.44772 8.55229 3 8 3C7.44772 3 7 3.44772 7 4C7 4.55228 7.44772 5 8 5Z" fill="%23111111"/></g></svg>');
    background-size: cover;
}