@tailwind base;
@tailwind components;
@tailwind utilities;


.k-title-span {
    font-feature-settings: 'ss11' on, 'cv09' on, 'liga' off, 'calt' off;
    font-family: "Aeonik Pro";
}

.k-span {
    font-feature-settings: 'ss11' on, 'cv09' on, 'liga' off, 'calt' off;
    font-family: "Inter";
}

.k-button {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}